.styled-button {
    background-color: #4CAF50 !important; /* 背景色 */
    color: white !important; /* 文字色 */
    padding: 15px 32px !important; /* パディング */
    text-align: center !important; /* テキストの中央揃え */
    text-decoration: none !important; /* テキストの装飾をなしに */
    display: inline-block !important; /* インラインブロック要素に */
    font-size: 20px !important; /* フォントサイズ */
    margin: 4px 2px !important; /* マージン */
    cursor: pointer !important; /* カーソルをポインターに */
    transition: transform 0.3s !important; /* トランジション効果 */
}

.styled-button:focus{
    transform: scale(1.1) !important; /* 拡大 */
    outline: none !important; /* アウトラインをなしに */
}


sp {
    background-color: rgb(29, 17, 141) !important;



}